@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&family=Roboto:wght@400;500;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	/* font-family: 'Roboto Mono', monospace; */
}

.box {
	border: 1px solid red;
}

.parent {
	display: flex;
	align-items: center;
}

/* side nav section */

.side-nav {
	font-weight: 400;
	width: 15%;
	height: 100vh;
	padding: 0 20px;
	background-color: #f4f4f4;
}

.side-nav-hr {
	margin: 60px 0 25px 0;
}

.side-nav-icon {
	width: 23px;
}

.navbar {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

@media (max-width: 992px) {
	.navbar {
		text-align: center;
	}

	.navlink a img {
		display: inline-block;
		margin: 0 auto;
	}
}

.navlink {
	margin-bottom: 10px;
}

.navlink a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
	color: #000000;
	padding: 5px 0px;
}

.navbar a > span {
	margin-left: 15px;
}

/* main section */

.main-side {
	width: 85%;
	padding: 0 20px;
	height: 100vh;
}

.main-side-icon {
	width: 38px;
}

.main-header {
	display: flex;
	padding: 15px 0;
	align-items: center;
	justify-content: space-between;
}

.main-header > p {
	font-size: 15px;
	font-weight: lighter;
}

.user {
	display: flex;
	align-items: center;
	border-radius: 8px;
	padding: 5px 10px;
	margin-left: 10px;
	border-width: 0 0 1px;
	box-shadow: 0 1px 2px gray;
}

/* .user span {
	margin: 0 10px;
} */

.main-header img {
	width: 20px;
}

.left-header {
	display: flex;
	align-items: center;
}

.main-side-hr {
	margin-bottom: 25px;
}

.state span {
	font-weight: 500;
}

.user-cards {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-rows: auto;
	gap: 15px;
}

@media (max-width: 992px) {
	.user-cards {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-rows: auto auto;
	}

	.navlink a > span {
		display: none;
	}
}

@media (max-width: 578px) {
	.user-cards {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		grid-template-rows: auto auto auto auto;
	}
}

.card {
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 2px 5px #2c2b2b9a;
}

.card:nth-child(1) {
	background-image: linear-gradient(145deg, #0000ffdb, #0000ff47);
}

.card:nth-child(2) {
	background-image: linear-gradient(145deg, #ff0000db, #ff000047);
}

.card:nth-child(3) {
	background-image: linear-gradient(145deg, #008000db, #00800047);
}

.card:nth-child(4) {
	background-image: linear-gradient(145deg, #ffa500db, #ffa50047);
}

.state {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.card span,
.card .quantity {
	color: white;
}
